body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.img {
    display: block;
    height: 100px;
    margin: 0 auto 20px;
    width: 200px;
}

h2 {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.input-box {
    width: 48%;
}

.input-box.full-width {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #777;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgb(194, 194, 194);
}

.signup-btn {
    width: 100%;
    padding: 10px;
    background: #003366;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.signup-btn:hover {
    background: #002244;
}
